PurchaseArticle/Connected Services/ArticleServiceReference/ArticleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50426/ArticleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFArticle.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFArticle.Model" minOccurs="0" name="GetAllArticlesResult" nillable="true" type="q1:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArticleToFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFArticle.Model" minOccurs="0" name="article" nillable="true" type="q2:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArticleToFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFArticle.Model" minOccurs="0" name="SaveArticleToFileResult" nillable="true" type="q3:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFArticle.Model" minOccurs="0" name="article" nillable="true" type="q4:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFArticle.Model" minOccurs="0" name="ModifyArticleResult" nillable="true" type="q5:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>